html {
  background: linear-gradient(to right, #e6dada, #274046); }

  /*html {
    background: black; }*/

body {
  background: linear-gradient(to right, #e6dada, #274046);}

  /*body {
    background: black;}*/

.orange-text {
  color: orange;
}

.centerContainer {
    margin: 0 auto;
    min-width: 750px;
    max-width: 1050px;
}

.item-container {
  height: 280px;
}

.side-margins {
  margin: 0px 10px;
}

.float-left{
  vertical-align: top;
  float: left;
}

.carousel-floater{
  top: 50px;
  left: 100px;
  position: absolute;
  z-index: 15;
}

.text-wh {
  color: white;
}

.text-small {
  font-size: 12px
}

.text-medium {
  font-size: 16px
}

.text-large {
  font-size: 20px
}

.text-XL {
  font-size: 24px
}

.stars-small {
  font-size: 12px;
  width: 60px;
}

.stars-medium {
  font-size: 16px;
  width: 80px;
}

.stars-large {
  font-size: 20px;
  width: 100px;
}

.stars-XL {
  font-size: 24px;
  width: 120px;
}

.tiny-form {
  width: 100px;
  height: 30px
}

.small-form {
  width: 350px;
  height: 30px;
}

.medium-form {
  width: 500px;
  height: 100px;
}

.small-div {
  width: 200px;
}

.med-div {
  width: 275px;
}

.large-div {
  width: 450px;
}

.resizeXL {
  /*position: relative;*/
  height: 500px;
  width: 100%;
  overflow: hidden;
}

.resizeXL > img {
  /*position: absolute;*/
  /*top: 50%;
  transform: translateY(-50%);*/
  width: 100%
}



.resizeLrg {
  position: relative;
  width: 100%;
  padding-top: 100%; /*  this line and above, will ALWAYS make the div into a square */
  overflow: hidden;
  /*height: 250px !important;*/
}

.resizeLrg > img { /* GO OVER THIS LATER */
  position: absolute;
  top: 50%;
  transform: translateY(-50%); /* This line and the one above will ALWAYS center any image inside the resizeLrg div  */
  width: 100%
}

.resizeMed {
  position: relative;
  width: 80%;
  left: 10%;
  padding-top: 80%; /*  this line and above, will ALWAYS make the div into a square */
  overflow: hidden;
  /*height: 250px !important;*/
}

.resizeMed > img { /* GO OVER THIS LATER */
  position: absolute;
  top: 50%;
  transform: translateY(-50%); /* This line and the one above will ALWAYS center any image inside the resizeLrg div  */
  width: 100%
}

.resizeSm {
  position: relative;
  width: 80%;
  padding-top: 80%; /*  this line and above, will ALWAYS make the div into a square */
  overflow: hidden;
  /*height: 250px !important;*/
}

.resizeSm > img { /* GO OVER THIS LATER */
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translateY(-50%); /* This line and the one above will ALWAYS center any image inside the resizeLrg div  */
  width: 80%
}

.footer {
  position: absolute;
  bottom: 0;
  left: 30%;
}

.navbar {
  margin-bottom: 0px;
  border: none;
  border-radius: 0;
  border-bottom: 1px dotted #777; }
  .navbar .navbar-nav a.active {
    background: transparent;
    position: relative; }
    .navbar .navbar-nav a.active:hover, .navbar .navbar-nav a.active:focus {
      background: transparent; }
    .navbar .navbar-nav a.active::before {
      position: absolute;
      bottom: 0;
      content: '';
      left: calc(50% - 0.8em);
      border-bottom: 0.6em solid #555;
      border-right: 0.8em solid transparent;
      border-left: 0.8em solid transparent; }
  .navbar .navbar-brand {
    padding-top: 10px;
    padding-bottom: 10px; }
    .navbar .navbar-brand img {
      height: 100%; }

.inline {
  display: inline-block;
}

/* got it from here: https://codepen.io/Bluetidepro/pen/GkpEa */
.star-ratings-css {
  unicode-bidi: bidi-override;
  color: #c5c5c5;
  margin: 0 auto;
  position: relative;
  padding: 0;
  text-shadow: 0px 1px 0 #a2a2a2;
}

.star-ratings-css-top {
    color: #e7711b;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
}

.star-ratings-css-bottom {
    padding: 0;
    display: block;
    z-index: 0;
}

@media (max-width: 767px) {
  .navbar .navbar-nav a.active::before {
    left: 0;
    bottom: calc(50% - 0.8em);
    border-left: 0.6em solid #555;
    border-bottom: 0.8em solid transparent;
    border-top: 0.8em solid transparent;
    border-right: none; } }
